// Default style
*{
	@include border-box;
}

body{
	font-family: 'Founders-L', sans-serif;
	font-size: 20px;
	@include smoothFont;
	color: $gray;
	background-color: $intro-text-color;
}

body, h1, h2, h3, h4, h5, h6, p, section, div, nav, ul, li, button{
	margin: 0;
	padding: 0;
}