// Special containers to augment rotation intensity
.mb-wrap{
	position: absolute;

	&.halfwidth{width: 50%;}
	&.fullwidth{width: 100%;}
	&.doublewidth{width: 200%;}
	&.triplewidth{width: 300%;}
	&.fourwidth{width: 400%;}
	&.fivewidth{width: 500%;}
	&.sixwidth{width: 600%;}
	&.eightwidth{width: 800%;}
	&.tenwidth{width: 1000%;}

	&.halfheight{height: 50%;}
	&.fullheight{height: 100%;}
	&.doubleheight{height: 200%;}
	&.tripleheight{height: 300%;}
	&.fourheight{height: 400%;}
	&.fiveheight{height: 500%;}
	&.sixheight{height: 600%;}
	&.eightheight{height: 800%;}
	&.tenheight{height: 1000%;}

	&.top{top: 0;}
	&.right{right: 0;}
	&.bottom{bottom: 0;}
	&.left{left: 0;}
}


// Landing graphs
.illus-container{
	// pointer-events: none;
	// @include drawShadow(0,0,15px,2px,rgba(0,0,0,.1));

	.mb-gray-rect{
		position: absolute;
		width: 264px;
		height: 120px;
		top: 562px;
		left: 7px;
		background-color: $graph-gray;
	}

	.mb-rect-bottomright{
		position: absolute;
		bottom: 48px;
		right: 13px;
		width: 219px;
		height: 363px;
		background-color: $graph-pink;
	}

	.mb-bottom-stairs{
		position: absolute;
		right: 164px;
		bottom: -60px;
		width: 121px;

		.steps{
			position: relative;
			background-color: $graph-green;

			&.step-1{width: 100%; height: 190px;}
			&.step-2{width: 93px; height: 26px;}
			&.step-3{width: 68px; height: 26px;}
			&.step-4{width: 42px; height: 26px;}
		}

		.window-dark{
			position: absolute;
			bottom: 82px;
			left: 41px;
			width: 29px;
			height: 62px;
			background-color: $graph-purple;
		}
	}

	.mb-stairs{
		position: absolute;
		top: 0;
		left: -22px;
		width: 291px;
		height: 411px;

		.steps{
			position: relative;
			height: 38px;
			background-color: $graph-red;
		}

		.step-1{width: 40px;}
		.step-2{width: 76px;}
		.step-3{width: 113px;}
		.step-4{
			width: 100%;
			height: 302px;
		}
	}

	.mb-dune-stairs{
		position: absolute;
		top: 0;
		right: 134px;
		width: 378px;
		height: 271px;

		.door{
			position: absolute;
			width: 54px;
			height: 106px;
			bottom: 0;
			left: 110px;
			border-top-left-radius: 27px;
			border-top-right-radius: 27px;
			background-color: $graph-purple;
			overflow: hidden;
			
			.white-stairs{
				position: absolute;
				left: 10px;
				bottom: 0;
				width: 100px;
				height: 45px;

				.steps{
					position: relative;
					height: 25%;
					float: right;
					background-color: #fff;

					&.step-1{width: 64px;}
					&.step-2{width: 76px;}
					&.step-3{width: 88px;}
					&.step-4{width: 100%;}
				}
			}
		}
	}

	.mb-rect-top-right{
		position: absolute;
		top: 0;
		right: 12px;
		width: 121px;
		height: 366px;
		background-color: $graph-blue-light;
	}

	.mb-drop-white{
		position: absolute;
		width: 221px;
		height: 233px;
		// top: 0;
		// right: 48px;
		left: 265px;
		bottom: 548px;
	}

	.mb-rect{
		position: absolute;
		// width: 70%;
		width: 373px;
		height: 83px;
		background-color: $graph-green;
		margin: auto;
		right: -13px;
		top: 325px;
	}

	.mb-square{
		position: absolute;
		// top: 271px;
		left: 7px;
		bottom: 165px;
		// right: 164px;
		width: 363px;
		height: 344px;
		background-color: $graph-blue-light;

		&.clip{overflow: hidden;}

		.mb-arch{
			position: absolute;
			bottom: 0;
			left: -37px;
			width: 296px;
			height: 344px;
			border-top-left-radius: 150px;
			border-top-right-radius: 150px;
			background-color: $graph-white;
		}

		.mb-dark-arch{
			position: absolute;
			width: 50px;
			height: 190px;
			top: 0;
			right: 20px;
			border-bottom-right-radius: 30px;
			border-bottom-left-radius: 30px;
			background-color: $graph-purple;
		}

		.mb-wave{
			position: absolute;
			bottom: 0;
			right: 37px;
			width: 329px;
			height: 344px;
		}
	}

	.mb-cilinder{
		position: absolute;
		top: 136px;
		// left: 228px;
		// right: 5%;
		// bottom: 455px;
		right: 25px;
		width: 278px;
		height: 190px;
		border-radius: 190px;
		background-color: $graph-red;
	}

	.mb-circle-inner{
		position: absolute;
		top: 136px;
		// bottom: 455px;
		// right: 5%;
		right: 25px;
		width: 190px;
		height: 190px;
		border-radius: 50%;
		background-color: $graph-yellow;
	}

	.mb-circle-eclipse{
		position: absolute;
		// bottom: 82px;
		// right: 41px;
		top: 605px;
		left: 400px;
		width: 94px;
		height: 94px;
		background-color: #fff;
		border-radius: 50%;
	}

	.mb-duocircle{
		position: absolute;
		width: 56px;
		height: 56px;
		border-radius: 50%;
		top: 592px;
		right: 380px;
		background-color: $graph-white;
		overflow: hidden;

		.inner-rect-red{
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 34px;
			background-color: $graph-red;
		}
	}

	.mb-up-circle{
		position: absolute;
		top: -125px;
		left: 65px;
		width: 113px;
		height: 113px;
		border-radius: 50%;
		background-color: $graph-blue-light;
	}

	.mb-circle-pink{
		position: absolute;
		top: 327px;
		right: 335px;
		width: 161px;
		height: 161px;
		border-radius: 50%;
		overflow: hidden;
		background-color: $graph-pink;

		.inner-circle{
			position: absolute;
			right: 96px;
			bottom: 19px;
			width: 208px;
			height: 208px;
			border-radius: 50%;
			background-color: $graph-blue-light;
		}
	}
}


// People graphs
.people-graphs{
	*:not(.photo){
		position: absolute;
		margin: auto;
	}

	// Ulises
	.pho-red-circle{
		overflow: hidden;
		width: 83px;
		height: 83px;
		border-radius: 50%;
		background-color: $graph-red;

		top: 63px;
		left: -51px;

		&:before{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 32px;
			height: 100%;
			background-color: $graph-purple;
		}
	}
	.uv-{
		&pink-rect{
			width: 377px;
			height: 440px;
			background-color: $graph-pink;

			top: 57px;
			right: 437px;
		}

		&yellow-circle{
			width: 160px;
			height: 160px;
			border-radius: 50%;
			background-color: $graph-yellow;

			bottom: 141px;
			right: 133px;
		}

		&blue-quartcircle{
			width: 91px;
			height: 71px;
			border-radius: 100% 0% 0% 100% / 0% 100% 0% 100% ;
			background-color: $graph-blue-light;

			bottom: 385px;
			left: 235px;
		}

		&red-circle{
			overflow: hidden;
			width: 83px;
			height: 83px;
			border-radius: 50%;
			background-color: $graph-red;

			top: 173px;
			left: 469px;

			&:before{
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 32px;
				height: 100%;
				background-color: $graph-purple;
			}
		}
	}

	.mt-{
		&blue-rect{
			width: 165px;
			height: 270px;
			background-color: $graph-blue-dark;

			top: 110px;
			left: 476px;
		}

		&gray-rect{
			width: 380px;
			height: 201px;
			background-color: $graph-gray;

			top: 77px;
			right: 520px;
		}

		&blue-circle{
			width: 62px;
			height: 62px;
			border-radius: 50%;
			background-color: $graph-blue-light;

			bottom: 390px;
			left: 250px;
		}

		&pink-circle{
			width: 147px;
			height: 147px;
			border-radius: 50%;
			background-color: $graph-pink;

			top: 480px;
			right: 400px;
		}

		&yellow-polygon{
			width: 180px;
			height: 87px;

			bottom: 487px;
			right: 165px;

			&:before{
				content: '';
				position: absolute;
				top: 0; right: 0;
				width: 80px;
				height: 100%;
				border-top-right-radius: 87px;
				border-bottom-right-radius: 87px;
				background-color: $graph-yellow;
			}

			&:after{
				content: '';
				position: absolute;
				top: 0; 
				right: 80px;
				width: 0;
				border-right: 100px solid $graph-yellow;
				border-top: 87px solid transparent;
			}
		}
	}

	.lp-{
		&yellow-rect{
			width: 380px;
			height: 440px;
			background-color: $graph-yellow;

			top: 84px;
			right: 481px;
		}

		&green-rect{
			width: 238px;
			height: 102px;
			background-color: $graph-green;

			bottom: 499px;
			left: 911px;
		}

		&red-circle{
			width: 120px;
			height: 120px;
			border-radius: 50%;
			background-color: $graph-red;

			top: 362px;
			right: 116px;
		}

		&blue-polygon{
			width: 156px;
			height: 165px;
			background-color: $graph-blue-light;
				border-radius: 100% 0% 2% 98% / 100% 100% 0% 0%;

			top: 234px;
			left: 363px;
		}
		
		&blue-pill{
			width: 23px;
			height: 83px;
			border-radius: 23px;
			background-color: $graph-blue-dark;

			bottom: 68px;
			right: 396px;
		}
		
		&lightblue-pill{
			width: 23px;
			height: 83px;
			border-radius: 23px;
			background-color: $graph-blue-light;

			bottom: 68px;
			right: 361px;
		}
	}

	.jf-{
		&gray-rect{
			width: 140px;
			height: 200px;
			background-color: $graph-gray;

			top: 370px;
			right: 980px;
		}

		&red-rect{
			width: 280px;
			height: 280px;
			background-color: $graph-red;
			
			top: 90px;
			left: 443px;
		}

		&pink-semicircle{
			width: 102px;
			height: 80px;

			bottom: 497px;
			left: 238px;
			overflow: hidden;

			.inner{
				width: 164px;
				height: 164px;
				border-radius: 50%;
				background-color: $graph-pink;
			}
		}

		&yellow-rect{
			width: 165px;
			height: 84px;
			background-color: $graph-yellow;

			bottom: 170px;
			right: 421px;
			overflow: hidden;

			.jf-blue-circle{
				width: 239%;
				height: 450%;
				background-color: $graph-blue-light;
				
				bottom: 0;
				left: 0;
				border-radius: 50%;
				@include translate(-60%, 0);
			}
		}

		&gray-moon{
			width: 128px;
			height: 128px;
			background-color: $graph-gray;
			border-radius: 50%;

			top: 305px;
			left: 1301px;
		}
	}

	.ach-{
		&yellow-rect{
			width: 240px;
			height: 333px;
			background-color: $graph-yellow;

			top: 68px;
			right: 866px;
		}
		
		&pink-circle{
			width: 128px;
			height: 128px;
			border-radius: 50%;
			background-color: $graph-pink;
			overflow: hidden;

			bottom: 546px;
			left: 1173px;

			.blue-half{
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 50%;
				background-color: $graph-blue-light;
			}
		}
		
		&pink-pill{
			width: 98px;
			height: 40px;
			border-radius: 45% 45%;
			background-color: $graph-pink;
			overflow: hidden;

			bottom: 384px;
			right: 471px;

			.purple-half{
				position: absolute;
				width: 50%;
				height: 100%;
				background-color: $graph-purple;
			}
		}
		
		&blue-rect{
			width: 140px;
			height: 60px;
			background-color: $graph-blue-dark;
			overflow: hidden;

			top: 366px;
			left: 236px;

			.inner-red{
				position: absolute;
				right: 0;
				width: 97px;
				height: 100%;
				background-color: $graph-red;
			}

			.inner-gray{
				position: absolute;
				top: 50%;
				left: 76px;
				@include translate(0, -48%);
				width: 300px;
				height: 300px;
				border-radius: 50%;
				background-color: $graph-gray;
			}
		}
	}

	.r3-{
		&blue-shape{
			width: 172px;
			height: 126px;
			background-color: $graph-blue-light;
			border-top-left-radius: 100%;

			bottom: 402px;
			left: 374px;
		}

		&pink-rect{
			width: 240px;
			height: 200px;
			background-color: $graph-pink;

			top: 517px;
			right: 495px;
		}

		&red-rect{
			width: 400px;
			height: 400px;
			background-color: $graph-red;

			bottom: 221px;
			left: 762px;
		}

		&yellow-circle{
			width: 90px;
			height: 90px;
			background-color: $graph-yellow;
			border-radius: 50%;

			bottom: 489px;
			right: 475px;
		}

		&gray-circle{
			width: 110px;
			height: 110px;
			background-color: $graph-gray;
			border-radius: 50%;

			top: 492px;
			left: 1267px;

			.inner-green{
				position: absolute;
				margin: auto;
				top: 0; bottom: 0; left: 0; right: 0;
				width: 60px;
				height: 60px;
				border-radius: 50%;
				background-color: $graph-green;
			}
		}
	}

	.gp-{
		&green-pill{
			width: 140px;
			height: 39px;
			background-color: $graph-green;
			border-radius: 40px;

			bottom: 561px;
			left: 418px;
		}

		&blue-rect{
			width: 400px;
			height: 400px;
			background-color: $graph-blue-light;

			top: 291px;
			right: 781px;
		}

		&pink-rect{
			width: 240px;
			height: 200px;
			background-color: $graph-pink;

			bottom: 262px;
			left: 899px;
		}

		&yellow-circle{
			width: 113px;
			height: 113px;
			background-color: $graph-yellow;
			border-radius: 50%;

			bottom: 205px;
			right: 203px;
		}

		&blue-eye{
			width: 139px;
			height: 88px;
			background-color: $graph-blue-light;

			top: 180px;
			left: 1038px;
		}
	}

	.ca-{
		&pink-rect{
			width: 379px;
			height: 538px;
			background-color: $graph-pink;

			left: 742px;
			bottom: 165px;
		}

		&red-circle{
			width: 84px;
			height: 84px;
			background-color: $graph-red;
			border-radius: 50%;

			top: 152px;
			right: 292px;
		}

		&green-rect{
			width: 240px;
			height: 172px;
			background-color: $graph-green;

			left: 934px;
			bottom: 250px;
		}

		&yellow-circle{
			width: 180px;
			height: 180px;
			background-color: $graph-yellow;
			border-radius: 50%;

			bottom: 393px;
			right: 1042px;
		}

		&play-pills{
			width: 66px;
			height: 94px;

			top: 633px;
			left: 962px;

			.blue, .gray{
				position: absolute;
				width: 26px;
				height: 100%;
				border-radius: 14px 14px 14px 14px / 20px 20px 20px 20px;
			}

			.blue{
				background-color: $graph-blue-dark;
			}
			.gray{
				background-color: $graph-gray;
				right: 0;
			}
		}
	}

	.oa-{
		&yellow-rect{
			width: 379px;
			height: 336px;
			background-color: $graph-yellow;

			bottom: 360px;
			left: 452px;
		}

		&blue-rect{
			width: 184px;
			height: 304px;
			background-color: $graph-blue-dark;

			right: 444px;
			top: 277px;
		}

		&green-pill{
			width: 55px;
			height: 113px;
			background-color: $graph-green;
			// border-radius: 28px 28px 28px 28px / 45px 45px 45px 45px;
			border-top-left-radius: 28px 42px;
			border-top-right-radius: 28px 42px;
			border-bottom-left-radius: 28px 42px;
			border-bottom-right-radius: 28px 42px;

			bottom: 307px;
			left: 358px;
		}

		&red-circle{
			width: 60px;
			height: 60px;
			background-color: $graph-red;
			border-radius: 50%;

			bottom: 569px;
			right: 367px;
		}

		&pink-circle{
			overflow: hidden;
			width: 100px;
			height: 100px;
			background-color: $graph-pink;
			border-radius: 50%;

			left: 1030px;
			top: 421px;

			.half-blue{
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 50%;
				background-color: $graph-blue-light;
			}
		}
	}

	.ma-{
		&gray-rect{
			width: 351px;
			height: 444px;
			background-color: $graph-gray;

			bottom: 257px;
			left: 463px;
		}

		&blue-rect{
			width: 224px;
			height: 252px;
			background-color: $graph-blue-light;

			top: 387px;
			right: 466px;
		}

		&red-circle{
			width: 61px;
			height: 61px;
			background-color: $graph-red;
			border-radius: 50%;

			right: 1230px;
			bottom: 305px;
		}

		&pink-shape{
			width: 142px;
			height: 126px;
			background-color: $graph-pink;
			border-bottom-right-radius: 100%;

			top: 238px;
			left: 418px;
		}

		&yellow-circle{
			width: 126px;
			height: 126px;
			background-color: $graph-yellow;
			border-radius: 50%;

			left: 1225px;
			bottom: 459px;
		}
	}

	.agg-{
		&pink-rect{
			width: 380px;
			height: 440px;
			background-color: $graph-pink;

			left: 739px;
			bottom: 258px;
		}

		&green-rect{
			width: 238px;
			height: 102px;
			background-color: $graph-green;

			right: 451px;
			top: 173px;
		}

		&blue-shape{
			width: 155px;
			height: 165px;
			background-color: $graph-blue-light;
			border-top-left-radius: 100%;

			right: 1080px;
			bottom: 301px;
		}

		&play-pills{
			width: 59px;
			height: 83px;

			top: 553px;
			left: 1197px;

			.blue, .dark-blue{
				position: absolute;
				width: 24px;
				height: 100%;
				border-radius: 12px 12px 12px 12px / 16px 16px 16px 16px;
			}

			.blue{
				background-color: $graph-blue-light;
				right: 0;
			}
			.dark-blue{
				background-color: $graph-blue-dark;
			}
		}

		&red-circle{
			width: 120px;
			height: 120px;
			background-color: $graph-red;
			border-radius: 50%;

			bottom: 345px;
			left: 1285px;
		}
	}

	.av-{
		&gray-rect{
			width: 400px;
			height: 230px;
			background-color: $graph-gray;

			left: 699px;
			bottom: 57px;
		}

		&yellow-rect{
			width: 240px;
			height: 333px;
			background-color: $graph-yellow;

			bottom: 353px;
			right: 907px;
		}

		&pink-circle{
			width: 128px;
			height: 128px;
			overflow: hidden;
			background-color: $graph-pink;
			border-radius: 50%;
			@include rotate(45deg);
			
			top: 191px;
			left: 1247px;

			.blue-half{
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 50%;
				background-color: $graph-blue-light;
			}
		}

		&pink-rect{
			width: 126px;
			height: 46px;
			overflow: hidden;
			background-color: $graph-pink;

			bottom: 425px;
			left: 233px;

			.green{
				position: absolute;
				bottom: 0; left: 0;
				background-color: $graph-green;
				width: 51px;
				height: 200%;
				@include transform-origin(bottom, right);
				@include rotate(-7deg);
			}
		}

		&gray-pill{
			width: 98px;
			height: 40px;
			overflow: hidden;
			background-color: $graph-gray;
			border-radius: 30px 30px 30px 30px / 20px 20px 20px 20px;

			top: 356px;
			right: 471px;

			.dark-half{
				position: absolute;
				left: 0;
				width: 50%;
				height: 100%;
				background-color: $graph-purple;
			}
		}
	}

	.mds-{
		&gray-rect{
			width: 80px;
			height: 140px;
			background-color: $graph-gray;

			bottom: 141px;
			left: 1028px;
		}

		&pink-rect{
			width: 377px;
			height: 440px;
			background-color: $graph-pink;

			bottom: 281px;
			right: 439px;
		}

		&gray-circle{
			width: 83px;
			height: 83px;
			overflow: hidden;
			background-color: $graph-gray;
			border-radius: 50%;

			top: 173px;
			left: 469px;

			.blue-half{
				position: absolute;
				right: 0;
				width: 32px;
				height: 100%;
				background-color: $graph-blue-dark;
			}
		}

		&yellow-circle{
			width: 91px;
			height: 71px;
			background-color: $graph-yellow;
			border-bottom-left-radius: 100%;

			bottom: 362px;
			left: 326px;
		}

		&blue-circle{
			width: 160px;
			height: 160px;
			background-color: $graph-blue-light;
			border-radius: 50%;

			top: 418px;
			right: 134px;
		}
	}

	.ea-{
		&gray-rect{
			width: 351px;
			height: 444px;
			background-color: $graph-gray;

			bottom: 257px;
			left: 463px;
		}

		&blue-rect{
			width: 224px;
			height: 252px;
			background-color: $graph-blue-dark;

			bottom: 144px;
			right: 468px;
		}

		&pink-shape{
			width: 142px;
			height: 126px;
			background-color: $graph-pink;
			border-bottom-right-radius: 100%;

			top: 238px;
			left: 418px;
		}

		&yellow-circle{
			width: 126px;
			height: 126px;
			background-color: $graph-yellow;
			border-radius: 50%;

			bottom: 459px;
			left: 1225px;
		}

		&red-circle{
			width: 61px;
			height: 61px;
			background-color: $graph-red;
			border-radius: 50%;
			
			top: 356px;
			right: 1262px;
		}
	}

	.sm-{
		&gray-rect{
			width: 184px;
			height: 304px;
			background-color: $graph-gray;

			bottom: 197px;
			left: 970px;
		}

		&yellow-rect{
			width: 379px;
			height: 336px;
			background-color: $graph-yellow;

			bottom: 360px;
			right: 770px;
		}

		&green-pill{
			width: 55px;
			height: 113px;
			background-color: $graph-green;

			border-top-left-radius: 28px 42px;
			border-top-right-radius: 28px 42px;
			border-bottom-left-radius: 28px 42px;
			border-bottom-right-radius: 28px 42px;

			top: 359px;
			left: 357px;
		}

		&pink-circle{
			width: 101px;
			height: 101px;
			overflow: hidden;
			background-color: $graph-pink;
			border-radius: 50%;

			left: 1028px;
			bottom: 258px;

			.half{
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 50%;
				background-color: $graph-blue-light;
			}
		}

		&red-circle{
			width: 60px;
			height: 60px;
			background-color: $graph-red;
			border-radius: 50%;

			top: 150px;
			right: 369px;
		}
	}

	.sg-{
		&gray-rect{
			@include drawRect($graph-gray, 140px, 200px);
			left: 478px;
			bottom: 211px;
		}

		&red-rect{
			@include drawRect($graph-red, 280px, 280px);

			bottom: 411px;
			right: 878px;
		}

		&yellow-rect{
			@include drawRect($graph-yellow, 165px, 84px);
			overflow: hidden;

			top: 527px;
			left: 1013px;

			.inner-blue{
				@include drawCircle($graph-blue-light, 280px, 280px);
				bottom: 2px;
				left: -140px;
			}
		}

		&pink-semicircle{
			@include drawRect(transparent, 102px, 80px);
			bottom: 496px;
			// left: 237px;
			left: getX(397px);
			overflow: hidden;

			.real-circle{
				@include drawCircle($graph-pink, 168px, 160px);
				top: 0;
				left: 0;
			}
		}

		&pink-shape{
			@include drawCircle($graph-pink, 128px, 128px);
			top: getTop(367px);
			right: getX(330px);
		}

	}
}






