$gray: #ececec;
$black: #202020;
$pink: #f9d2d9;
$intro-bg: #f9f9f9;
$intro-text-color: #312637;

$graph-red: #ff606d;
$graph-pink: #ffd3cd;
$graph-yellow: #ffdc51;
$graph-blue-light: #79d4ff;
$graph-blue-dark: #002d85;
$graph-green: #13bb71;
$graph-purple: #302738;
$graph-gray: #e4eaef;
$graph-white: #f9f8f8;

$twelvecol-1: 8.33%;
$twelvecol-2: 16.66%;
$twelvecol-3: 25%;
$twelvecol-4: 33.33%;
$twelvecol-5: 41.66%;
$twelvecol-6: 50%;
$twelvecol-7: 58.33%;
$twelvecol-8: 66.66%;
$twelvecol-9: 75%;
$twelvecol-10: 83.33%;
$twelvecol-11: 91.66%;
$twelvecol-12: 100%;