/*Normalize*/
// @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");

// Import libraries


// Import your files
@import 'global/vars';
@import 'global/mixins';
@import 'global/default';
@import 'global/fonts';
@import 'global/grid';
@import 'global/motion';
@import 'global/graphs';
@import 'global/perspective';
@import 'global/links';

@import 'modules/four-logo';
@import 'modules/mbrt-head';

@import 'views/intro';
@import 'views/home';
@import 'views/about';
@import 'views/splash';
@import 'views/people';

#mouse-tester{
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid red;
	pointer-events: none;
}

.tester{
	z-index: 999999999;
	position: absolute;
	background-color: rgba(255,0,0,.3);
	pointer-events: none;

	width: 100%;
	height: 131px;

	top: 0;
	left: 0;
}