svg(width="211" height="221" viewBox="0 0 211.6 221.1").mb-wave
	path(fill="#002E86" d="M168.8,176.8l0-2.6c0-0.1,0-0.1,0-0.2v0c0-0.6,0-1.2,0-1.8c0.1-1.4,0.1-2.9,0.1-4.4c0-42.4-34.4-76.8-76.8-76.8 c-13,0-25.3,3.3-36.1,9l0,0c6.2-10,9.8-21.8,9.8-34.5C65.8,29.3,36.4,0,0,0c0,0,0,221.1,0,221.1s166.2,0,211.6,0 c0,0-3.3-0.2-5.7-0.6C184.9,217.1,168.8,198.9,168.8,176.8z")