svg(viewBox="0 0 241.5 174.2")
	path(fill="#FFD4CD" d="M151,0l90.5,0v174.2H0h0c24.7-0.5,44.5-20.7,44.3-45.4c0-2.2,0-18.1,0-18.1C44.3,89,59,71.3,83.7,71.3 c17.1,0,31.7-14.8,31.7-35.7C115.4,12.9,131.4,0,151,0L151,0z")