extends templates/layout.jade

block content
	#home-wrap.perspective-1000
		.inner-wrap
			header.mbrt-head
				.four-logo

			section.illustration-body.p_layer.perspective-500
				h1._title.p_layer
					span.division.left#mouseX Fo
					span.division.right#mouseY ur

				.illus-container
					.mb-stairs.p_layer
						.steps.step-1
						.steps.step-2
						.steps.step-3
						.steps.step-4

					.mb-cilinder.p_layer
					.mb-square.clip.p_layer
						.mb-arch

					.mb-rect.p_layer
					.mb-circle.p_layer

			footer.mbrt-footer.p_layer
				.instructions-wrap
					p
						span.mask-container
							span.up-in Scroll down to
					p
						span.mask-container
							span.up-in discover our family

				.author-wrap
					p 
						span.mask-container
							span.up-in
								|Site by 
								img(src="img/mbrt_logo.png", alt="mandelbrot studio").mbrt-logo
					p
						span.mask-container
							span.up-in Fourth Anniversary


	//- canvas#mouse-tester