extends templates/layout.jade

block content
	#home-wrap
		.inner-wrap
			header.mbrt-head
				.four-logo

			section.illustration-body
				h1._title
					span.division.left#mouseX Fo
					span.division.right#mouseY ur

				.illus-container
					.mb-stairs
						.steps.step-1
						.steps.step-2
						.steps.step-3
						.steps.step-4

					.mb-cilinder
					.mb-square.clip
						.mb-arch

					.mb-rect
					.mb-circle

			footer.mbrt-footer
				.instructions-wrap
					p
						span.mask-container
							span.up-in Scroll down to
					p
						span.mask-container
							span.up-in discover our family

				.author-wrap
					p 
						span.mask-container
							span.up-in
								|Site by 
								img(src="img/mbrt_logo.png", alt="mandelbrot studio").mbrt-logo
					p 
						span.mask-container
							span.up-in Fourth Anniversary


	canvas#mouse-tester