extends templates/layout.jade

block content
	#home-wrap.perspective-1000
		.inner-wrap
			header.mbrt-head
				include _modules/_four-logo.jade

			section.illustration-body.p_layer.perspective-500
				h1._title.p_layer
					span.division.left#mouseX Fo
					span.division.right#mouseY ur

				.illus-container
					.mb-wrap.doublewidth.fourheight.top.left.p_layer
						.mb-up-circle

					.mb-wrap.top.left.fourwidth.doubleheight.p_layer
						.mb-gray-rect

					.mb-wrap.bottom.right.halfwidth.doubleheight.p_layer
						.mb-rect-bottomright

					.mb-wrap.right.bottom.doublewidth.halfheight.p_layer
						.mb-bottom-stairs
							.steps.step-1
							.steps.step-2
							.steps.step-3
							.steps.step-4
							.window-dark

					.mb-wrap.top.left.halfwidth.halfheight.p_layer
						.mb-stairs
							.steps.step-1
							.steps.step-2
							.steps.step-3
							.steps.step-4

					.mb-wrap.top.right.halfwidth.fullheight.p_layer
						.mb-dune-stairs
							include _modules/svgs/_mb-dune.jade
							.door
								.white-stairs
									.steps.step-1
									.steps.step-2
									.steps.step-3
									.steps.step-4

					.mb-wrap.top.right.fullwidth.tripleheight.p_layer
						.mb-rect-top-right

					.mb-wrap.bottom.left.triplewidth.halfheight.p_layer
						.mb-drop-white
							include _modules/svgs/_mb-drop-white.jade

					.mb-wrap.top.right.fourwidth.doubleheight.p_layer
						.mb-rect

					.mb-wrap.bottom.left.doublewidth.doubleheight.p_layer
						.mb-square.clip
							.mb-arch
							.mb-dark-arch

							.mb-wrap.fullwidth.fullheight.bottom.right
								include _modules/svgs/_mb-wave.jade

					.mb-wrap.top.right.fullwidth.tripleheight.p_layer
						.mb-cilinder
					.mb-wrap.top.right.fourwidth.halfheight.p_layer
						.mb-circle-inner

					.mb-wrap.fourwidth.halfheight.top.left.p_layer
						include _modules/svgs/_mb-circle-eclipse.jade

					.mb-wrap.fullwidth.halfheight.top.right.p_layer
						.mb-duocircle
							.inner-rect-red

					.mb-wrap.fourwidth.fourheight.top.right.p_layer
						.mb-circle-pink
							.inner-circle



			footer.mbrt-footer
				.instructions-wrap
					p
						span.mask-container
							span.up-in Scroll down to
					p
						span.mask-container
							span.up-in discover our family

				.author-wrap
					p 
						span.mask-container
							span.up-in
								|Site by 
								img(src="img/mbrt_logo.png", alt="mandelbrot studio").mbrt-logo
					p
						span.mask-container
							span.up-in Fourth Anniversary


	//- canvas#mouse-tester