extends templates/layout.jade

block content
	#intro-wrap
		.intro-grid
			.inner-wrap
				.team-wrap.col-7
					.introduction
						.years
							h2
								span.mask-container.padded
									span.up-in 015
								span.mask-container.padded
									span.up-in —
								span.mask-container.padded
									span.up-in 019

						.count
							h2.fourth
								span.mask-container.padded
									span.up-in Four
							h2.year
								span.mask-container.padded
									span.up-in Years

					.portrait-container
						#intro-portrait

				.thanks-wrap.col-3.offset-2
					h3.cta 
						span.mask-container.padded
							span.up-in Click & Hold to Enter

					.letter-container
						.circle
						p 
							span.mask-container
								span.up-in 
									span This is our way to show some love to the people who have been part of this family, who have built what we are now & also those who continue to create what we’ll be.

						p 
							span.mask-container
								span.up-in 
									span Now, we are turning 4 years old & we appreciate you shared your essence along these years, you must know Mandelbrot will always be each one of you.

						p 
							span.mask-container
								span.up-in 
									span For this and so much more...

						p.thanks 
							span.mask-container
								span.up-in 
									span Thank you!

