extends templates/layout.jade

block content
	#intro-wrap
		.intro-grid
			.inner-wrap
				.team-wrap.col-7
					.introduction
						.years
							h2
								span 015
								span —
								span 019

						.count
							h2.fourth Fourth
							h2.year Year.

					.portrait-container

				.thanks-wrap.col-3.offset-2
					h3.cta Click & Hold to Enter

					.letter-container
						.circle
						p This is our way to say thanks to the people who have been part of this family, who have built what we are now & also those who continue to create what we’ll be.
						p Now, Mandelbrot is turning 4 years & we want to thank you for sharing your essence through out these years, you must know Mandelbrot will always be each one of you.
						p For this and so much more...
						p.thanks Thank you!

