extends templates/layout.jade

block content
	#intro-wrap.perspective-1000
		.years-wrap
			.years
				h2
					span.mask-container.padded
						span.up-in 015
					span.mask-container.padded
						span.up-in —
					span.mask-container.padded
						span.up-in 019

			.count
				h2.fourth
					span.mask-container.padded
						span.up-in Four
				h2.year
					span.mask-container.padded
						span.up-in Years

		.intro-grid
			.inner-wrap
				.team-wrap.col-7
					.portrait-container
						#intro-portrait

				.thanks-wrap.col-3.offset-2
					.letter-body
						.intro
							h1 
								span.mask-container
									span.up-in This is our way
							h1 
								span.mask-container
									span.up-in
										|to say 
										include _modules/svgs/_down-arrow.jade

							h1
								span.mask-container
									span.up-in thank you
						p
							span.mask-container
								span.up-in to the people who have been part of this family, who have built what we are now & also those who continue to create what we will be.

						p
							span.mask-container
								span.up-in Now, we are turning 4 years old & we appreciate you shared your essence along these years, you must know Mandelbrot will always be each one of you.

