extends templates/layout.jade

block content
	//- .tester

	#people-wrap
		.inner-wrap
			header.mbrt-head
				include _modules/_four-logo.jade

		.grid-wrap
			.inner-wrap
				.threeD-wrap.people-graphs.perspective-1500
					//- 014
					//- ULISES VALENCIA
					//- .mb-wrap.doublewidth.sixheight.top.right.p_layer
					//- 	.uv-pink-rect

					//- .photo.p_layer
					//- 	img(src="img/people/01_Ulises.jpg", alt="2014, Ulises Valencia")
					//- 	//- .pho-red-circle

					//- .mb-wrap.fullwidth.sixheight.bottom.right.p_layer
					//- 	.uv-yellow-circle

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.uv-blue-quartcircle

					//- .mb-wrap.fullwidth.halfheight.top.left.p_layer
					//- 	.uv-red-circle


					//- MAURO TORRES T.
					//- .mb-wrap.doublewidth.fourheight.top.left.p_layer
					//- 	.mt-blue-rect

					//- .mb-wrap.doublewidth.fourheight.top.right.p_layer
					//- 	.mt-gray-rect

					//- .photo.p_layer
					//- 	img(src="img/people/02_Mauro.jpg", alt="2014, Mauro Torres Tapia")

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.mt-blue-circle

					//- .mb-wrap.doublewidth.sixheight.top.right.p_layer
					//- 	.mt-pink-circle

					//- .mb-wrap.doublewidth.fourheight.bottom.right.p_layer
					//- 	.mt-yellow-polygon


					//- LIC. POLLITO
					//- .mb-wrap.doublewidth.fourheight.top.right.p_layer
					//- 	.lp-yellow-rect

					//- .mb-wrap.doublewidth.fourheight.bottom.left.p_layer
					//- 	.lp-green-rect

					//- .photo.p_layer
					//- 	img(src="img/people/03_Pollito.jpg", alt="2014, Lic. Pollito")

					//- .mb-wrap.halfwidth.fourheight.top.right.p_layer
					//- 	.lp-red-circle

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.lp-blue-polygon

					//- .mb-wrap.doublewidth.fullheight.bottom.right.p_layer
					//- 	.lp-blue-pill
					//- 	.lp-lightblue-pill


					//- JUAN FUENTES C.
					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.jf-gray-rect

					//- .mb-wrap.halfwidth.fourheight.top.left.p_layer
					//- 	.jf-red-rect

					//- .mb-wrap.doublewidth.fourheight.bottom.left.p_layer
					//- 	.jf-pink-semicircle
					//- 		.inner

					//- .photo.p_layer
					//- 	img(src="img/people/04_Flacode.jpg", alt="2014, Juan Fuentes C.")

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.jf-yellow-rect
					//- 		.jf-blue-circle

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.jf-gray-moon


					//- Alvaro Chan
					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.ach-yellow-rect

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.ach-pink-circle
					//- 		.blue-half

					//- .photo.p_layer
					//- 	img(src="img/people/05_Chaps.jpg", alt="2014, Alvaro Chan")

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.ach-pink-pill
					//- 		.purple-half

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.ach-blue-rect
					//- 		.inner-red
					//- 		.inner-gray


					//- 015
					//- Alan (R3do) Rodriguez
					//- .mb-wrap.triplewidth.halfheight.bottom.left.p_layer
					//- 	.r3-blue-shape

					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.r3-pink-rect

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.r3-red-rect

					//- .photo.p_layer
					//- 	img(src="img/people/05_Chaps.jpg", alt="2015, Alan (R3do) Rodriguez")

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.r3-yellow-circle

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.r3-gray-circle
					//- 		.inner-green


					//- Gabriel Pich
					//- .mb-wrap.triplewidth.halfheight.bottom.left.p_layer
					//- 	.gp-green-pill

					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.gp-blue-rect

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.gp-pink-rect

					//- .photo.p_layer
					//- 	img(src="img/people/05_Chaps.jpg", alt="2015, Gabriel Pich")

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.gp-yellow-circle

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.gp-blue-eye


					//- Carlos Alvarado
					.mb-wrap.triplewidth.halfheight.bottom.left.p_layer
						.ca-pink-rect

					.mb-wrap.fourwidth.doubleheight.top.right.p_layer
						.ca-red-circle

					.mb-wrap.halfwidth.fourheight.bottom.left.p_layer
						.ca-green-rect

					.photo.p_layer
						img(src="img/people/05_Chaps.jpg", alt="2015, Carlos Alvarado")

					.mb-wrap.halfwidth.fourheight.bottom.right.p_layer
						.ca-yellow-circle

					.mb-wrap.doublewidth.sixheight.top.left.p_layer
						.ca-play-pills
							.blue
							.gray

					

				.data-wrap
					h3._year 
						span.mask-container
								span.up-in 015

					._name
						h2 
							span.mask-container
								span.up-in Carlos
									//- span.sup (R3do)
						h2 
							span.mask-container
								span.up-in Alvarado





