extends templates/layout.jade

block content
	.tester

	#people-wrap
		.inner-wrap
			header.mbrt-head
				include _modules/_four-logo.jade

		.grid-wrap
			.inner-wrap
				.threeD-wrap.people-graphs.perspective-1500
					//- ULISES VALENCIA
					//- .mb-wrap.doublewidth.sixheight.top.right.p_layer
					//- 	.uv-pink-rect

					//- .photo.p_layer
					//- 	img(src="img/people/01_Ulises.jpg", alt="2014, Ulises Valencia")
					//- 	//- .pho-red-circle

					//- .mb-wrap.fullwidth.sixheight.bottom.right.p_layer
					//- 	.uv-yellow-circle

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.uv-blue-quartcircle

					//- .mb-wrap.fullwidth.halfheight.top.left.p_layer
					//- 	.uv-red-circle


					//- MAURO TORRES T.
					//- .mb-wrap.doublewidth.fourheight.top.left.p_layer
					//- 	.mt-blue-rect

					//- .mb-wrap.doublewidth.fourheight.top.right.p_layer
					//- 	.mt-gray-rect

					//- .photo.p_layer
					//- 	img(src="img/people/02_Mauro.jpg", alt="2014, Mauro Torres Tapia")

					//- .mb-wrap.halfewidth.fourheight.bottom.left.p_layer
					//- 	.mt-blue-circle

					//- .mb-wrap.doublewidth.sixheight.top.right.p_layer
					//- 	.mt-pink-circle

					//- .mb-wrap.doublewidth.fourheight.bottom.right.p_layer
					//- 	.mt-yellow-polygon


					//- LIC. POLLITO
					.mb-wrap.doublewidth.fourheight.top.right.p_layer
						.lp-yellow-rect

					.mb-wrap.doublewidth.fourheight.bottom.left.p_layer
						.lp-green-rect

					.photo.p_layer
						img(src="img/people/03_Pollito.jpg", alt="2014, Lic. Pollito")

					.mb-wrap.halfewidth.fourheight.top.right.p_layer
						.lp-red-circle

					.mb-wrap.doublewidth.sixheight.top.left.p_layer
						.lp-pink-polygon

					.mb-wrap.doublewidth.fullheight.bottom.right.p_layer
						.lp-blue-pill
						.lp-lightblue-pill

					

				.data-wrap
					h3._year 
						span.mask-container
								span.up-in 014

					._name
						h2 
							span.mask-container
								span.up-in Lic.
						h2 
							span.mask-container
								span.up-in Pollito