extends templates/layout.jade

block content
	//- .tester

	#people-wrap
		.inner-wrap
			header.mbrt-head
				include _modules/_four-logo.jade

		.grid-wrap
			.inner-wrap
				.threeD-wrap.people-graphs.perspective-1500
					//- 014
					//- ULISES VALENCIA
					//- .mb-wrap.doublewidth.sixheight.top.right.p_layer
					//- 	.uv-pink-rect

					//- .photo.p_layer
					//- 	img(src="img/people/01_Ulises.jpg", alt="2014, Ulises Valencia")
					//- 	//- .pho-red-circle

					//- .mb-wrap.fullwidth.sixheight.bottom.right.p_layer
					//- 	.uv-yellow-circle

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.uv-blue-quartcircle

					//- .mb-wrap.fullwidth.halfheight.top.left.p_layer
					//- 	.uv-red-circle


					//- MAURO TORRES T.
					//- .mb-wrap.doublewidth.fourheight.top.left.p_layer
					//- 	.mt-blue-rect

					//- .mb-wrap.doublewidth.fourheight.top.right.p_layer
					//- 	.mt-gray-rect

					//- .photo.p_layer
					//- 	img(src="img/people/02_Mauro.jpg", alt="2014, Mauro Torres Tapia")

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.mt-blue-circle

					//- .mb-wrap.doublewidth.sixheight.top.right.p_layer
					//- 	.mt-pink-circle

					//- .mb-wrap.doublewidth.fourheight.bottom.right.p_layer
					//- 	.mt-yellow-polygon


					//- LIC. POLLITO
					//- .mb-wrap.doublewidth.fourheight.top.right.p_layer
					//- 	.lp-yellow-rect

					//- .mb-wrap.doublewidth.fourheight.bottom.left.p_layer
					//- 	.lp-green-rect

					//- .photo.p_layer
					//- 	img(src="img/people/03_Pollito.jpg", alt="2014, Lic. Pollito")

					//- .mb-wrap.halfwidth.fourheight.top.right.p_layer
					//- 	.lp-red-circle

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.lp-blue-polygon

					//- .mb-wrap.doublewidth.fullheight.bottom.right.p_layer
					//- 	.lp-blue-pill
					//- 	.lp-lightblue-pill


					//- JUAN FUENTES C.
					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.jf-gray-rect

					//- .mb-wrap.halfwidth.fourheight.top.left.p_layer
					//- 	.jf-red-rect

					//- .mb-wrap.doublewidth.fourheight.bottom.left.p_layer
					//- 	.jf-pink-semicircle
					//- 		.inner

					//- .photo.p_layer
					//- 	img(src="img/people/04_Flacode.jpg", alt="2014, Juan Fuentes C.")

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.jf-yellow-rect
					//- 		.jf-blue-circle

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.jf-gray-moon


					//- Alvaro Chan
					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.ach-yellow-rect

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.ach-pink-circle
					//- 		.blue-half

					//- .photo.p_layer
					//- 	img(src="img/people/05_Chaps.jpg", alt="2014, Alvaro Chan")

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.ach-pink-pill
					//- 		.purple-half

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.ach-blue-rect
					//- 		.inner-red
					//- 		.inner-gray


					//- 015
					//- Alan (R3do) Rodriguez
					//- .mb-wrap.triplewidth.halfheight.bottom.left.p_layer
					//- 	.r3-blue-shape

					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.r3-pink-rect

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.r3-red-rect

					//- .photo.p_layer
					//- 	img(src="img/people/05_Chaps.jpg", alt="2015, Alan (R3do) Rodriguez")

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.r3-yellow-circle

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.r3-gray-circle
					//- 		.inner-green


					//- Gabriel Pich
					//- .mb-wrap.triplewidth.halfheight.bottom.left.p_layer
					//- 	.gp-green-pill

					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.gp-blue-rect

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.gp-pink-rect

					//- .photo.p_layer
					//- 	img(src="img/people/05_Chaps.jpg", alt="2015, Gabriel Pich")

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.gp-yellow-circle

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.gp-blue-eye


					//- Carlos Alvarado
					//- .mb-wrap.triplewidth.halfheight.bottom.left.p_layer
					//- 	.ca-pink-rect

					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.ca-red-circle

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.ca-green-rect

					//- .photo.p_layer
					//- 	img(src="img/people/05_Chaps.jpg", alt="2015, Carlos Alvarado")

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.ca-yellow-circle

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.ca-play-pills
					//- 		.blue
					//- 		.gray


					//- Oscar Alvarado
					//- .mb-wrap.triplewidth.halfheight.bottom.left.p_layer
					//- 	.oa-yellow-rect

					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.oa-blue-rect

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.oa-green-pill

					//- .photo.p_layer
					//- 	img(src="img/people/05_Chaps.jpg", alt="2015, Oscar Alvarado")

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.oa-red-circle

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.oa-pink-circle
					//- 		.half-blue


					//- Mauro Arreola
					//- .mb-wrap.triplewidth.halfheight.bottom.left.p_layer
					//- 	.ma-gray-rect

					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.ma-blue-rect

					//- .photo.p_layer
					//- 	img(src="img/people/10_Picotto.jpg", alt="2015, Mauro Arreola")

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.ma-red-circle

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.ma-pink-shape

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.ma-yellow-circle


					//- Alma Garcia Gil
					//- .mb-wrap.triplewidth.halfheight.bottom.left.p_layer
					//- 	.agg-pink-rect

					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.agg-green-rect

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.agg-blue-shape

					//- .photo.p_layer
					//- 	img(src="img/people/11_Alma.jpg", alt="2015, Alma Garcia Gil")

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.agg-play-pills
					//- 		.blue
					//- 		.dark-blue

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.agg-red-circle


					//- Aranza Vivanco
					//- .mb-wrap.triplewidth.halfheight.bottom.left.p_layer
					//- 	.av-gray-rect

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.av-yellow-rect

					//- .photo.p_layer
					//- 	img(src="img/people/12_Aranza.jpg", alt="2015, Aranza Vivanco")

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.av-pink-circle
					//- 		.blue-half

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.av-pink-rect
					//- 		.green

					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.av-gray-pill
					//- 		.dark-half


					//- Monica De Salazar
					//- .mb-wrap.triplewidth.halfheight.bottom.left.p_layer
					//- 	.mds-gray-rect

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.mds-pink-rect

					//- .photo.p_layer
					//- 	img(src="img/people/13_Moni.jpg", alt="2015, Monica De Salazar")

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.mds-gray-circle
					//- 		.blue-half

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.mds-yellow-circle

					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.mds-blue-circle



					//- 016
					//- Eder Anaya
					//- .mb-wrap.triplewidth.halfheight.bottom.left.p_layer
					//- 	.ea-gray-rect

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.ea-blue-rect

					//- .photo.p_layer
					//- 	img(src="img/people/14_Eder.jpg", alt="2016, Eder Anaya")

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.ea-pink-shape

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.ea-yellow-circle

					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.ea-red-circle


					//- Sandra Macias
					//- .mb-wrap.triplewidth.halfheight.bottom.left.p_layer
					//- 	.sm-gray-rect

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.sm-yellow-rect

					//- .photo.p_layer
					//- 	img(src="img/people/15_Sandy.jpg", alt="2016, Sandra Macias")

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.sm-green-pill

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.sm-pink-circle
					//- 		.half

					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.sm-red-circle


					//- Subodh Gupta
					//- .mb-wrap.triplewidth.halfheight.bottom.left.p_layer
					//- 	.sg-gray-rect

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.sg-red-rect

					//- .photo.p_layer
					//- 	img(src="img/people/16_Subodh.jpg", alt="2016, Subodh Gupta")

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.sg-yellow-rect
					//- 		.inner-blue

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.sg-pink-semicircle
					//- 		.real-circle

					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.sg-pink-shape


					//- Karla Padilla
					//- .mb-wrap.triplewidth.halfheight.bottom.left.p_layer
					//- 	.kp-gray-rect

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.kp-blue-rect

					//- .photo.p_layer
					//- 	img(src="img/people/17_Karla.jpg", alt="2016, Karla Padilla")

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.kp-yellow-circle

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.kp-play-pills
					//- 		.yellow
					//- 		.blue

					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.kp-pink-shape


					//- Ryan Hicks
					//- .mb-wrap.triplewidth.halfheight.bottom.left.p_layer
					//- 	.rh-yellow-circle
					//- 		.inner-blue

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.rh-blue-rect

					//- .photo.p_layer
					//- 	img(src="img/people/18_Ryan.jpg", alt="2016, Ryan Hicks")

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.rh-lightblue-rect

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.rh-play-pills
					//- 		.dark
					//- 		.light

					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.rh-blue-shape


					//- Karla Nava
					//- .mb-wrap.triplewidth.halfheight.bottom.left.p_layer
					//- 	.kn-yellow-rect

					//- .mb-wrap.halfwidth.fourheight.bottom.right.p_layer
					//- 	.kn-gray-rect

					//- .photo.p_layer
					//- 	img(src="img/people/19_Kar-Nava.jpg", alt="2016, Karla Nava")

					//- .mb-wrap.doublewidth.sixheight.top.left.p_layer
					//- 	.kn-blue-rect
					//- 		.inner-blue

					//- .mb-wrap.halfwidth.fourheight.bottom.left.p_layer
					//- 	.kn-pink-circle
					//- 		.green-half

					//- .mb-wrap.fourwidth.doubleheight.top.right.p_layer
					//- 	.kn-blue-pill
					//- 		.pink-half


					//- 018
					//- Edgar De La Cruz
					.mb-wrap.triplewidth.halfheight.bottom.left.p_layer
						.edlc-pink-rect

					.mb-wrap.halfwidth.fourheight.bottom.right.p_layer
						.edlc-red-rect

					.photo.p_layer
						img(src="img/people/20_Edgar-TCB.jpg", alt="2018, Edgar De La Cruz")

					.mb-wrap.doublewidth.sixheight.top.left.p_layer
						.edlc-yellow-circle

					.mb-wrap.halfwidth.fourheight.bottom.left.p_layer
						.edlc-gray-circle
							.inner-green

					.mb-wrap.fourwidth.doubleheight.top.right.p_layer
						.edlc-blue-shape

					

				.data-wrap
					h3._year 
						span.mask-container
								span.up-in 018

					._name
						h2 
							span.mask-container
								span.up-in Edgar
									//- span.sup (R3do)
						h2 
							span.mask-container
								span.up-in De La Cruz





