extends templates/layout.jade

block content
	section#splash-wrap.perspective-100
		.inner-wrap
			header.mbrt-head
				include _modules/_four-logo.jade

			.thanks-box.p_layer
				h1.mask-container
					span.up-in Wait.

			footer
				div
					p.mask-container
						span.up-in Wow, how much curiosity! We like that.

				div
					p.mask-container
						span.up-in First of all, we're glad that you have our gift in your hands;

				div
					p.mask-container
						span.up-in but we're still working on a couple surprises for you.

				div
					p.mask-container
						span.up-in 😉

				div
					p.mask-container
						span.up-in Please, wait a little bit more until this one is ready,
				div
					p.mask-container
						span.up-in we'll let you know when the time comes via social:
				ul.rrss
					li
						.mask-container
							span.up-in
								a.mbrt-slot-hover(href="https://facebook.com/mandelbrotstudio/" target="_blank")
									span.slot-mask
										span.slot-content(hidden-slot-text="Facebook") Facebook
					li
						.mask-container
							span.up-in
								a.mbrt-slot-hover(href="https://instagram.com/mandelbrotstudio/" target="_blank")
									span.slot-mask
										span.slot-content(hidden-slot-text="Instagram") Instagram
					li
						.mask-container
							span.up-in
								a.mbrt-slot-hover(href="https://twitter.com/mbrt_studio" target="_blank")
									span.slot-mask
										span.slot-content(hidden-slot-text="Twitter") Twitter
					li
						.mask-container
							span.up-in
								a.mbrt-slot-hover(href="https://www.linkedin.com/company/mandelbrot-studio/" target="_blank")
									span.slot-mask
										span.slot-content(hidden-slot-text="LinkedIn") LinkedIn



