doctype html
html(class='no-js')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
		meta(name='viewport', content='shrink-to-fit=no, initial-scale=1.0, minimum-scale=1, width=device-width, height=device-height')
		title 4 years –– mbrt.

		//- metatags
		meta(name='description', content='This is our way to say thank you to the people who have been part of this family, who have built what we are now & also those who continue to create what we will be. Now, we are turning 4 years old & we appreciate you shared your essence along these years, you must know Mandelbrot will always be each one of you.')
		//- meta(name='subject', content='Page_subject')

		//- favicon
		link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
		link(rel="manifest" href="site.webmanifest")
		link(rel="mask-icon" href="safari-pinned-tab.svg" color="#ffffff")
		meta(name="msapplication-TileColor" content="#dbb3ff")
		meta(name="theme-color" content="#ffffff")

		//- stylesheets
		link(rel='stylesheet', href='css/app.css')

	body
		//- header

		//- content
		#main-wrapper
			block content

		//- scripts
		script(src='js/app.js')